html, body {
  font-family: Arial;
  font-size: 10px;
  height: 100%;
  margin: 0;
  width: 100%;
}

h1 {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

#sidebar {
  background-color: #CDD0D6;
  color: #000000;
  height: 100vh;
  padding: 10px;
  width: 20%;
}

#main {
  float: right;
  height: 100%;
  width: 80%;
}

/* RoomList styling */

.newRoomForm {
  padding: 10px 0px 10px 0px;
}

.roomData {
  height: 25px;
  width: 100%;
}

.roomName {
  border-bottom: solid 3px #BBBDC1;
  font-size: 2rem;
  font-weight: bold;
  height: 30px;
  padding: 10px;
  text-align: middle;
  text-transform: uppercase;
}

.roomBtn {
  float: right;
  margin-right: 20px;
}

/* MessageList styling */

#messageList>li:nth-child(odd) {
  background-color: #DCDFE5;
}

#messageList>li:nth-child(even) {
  background-color: #FFFFFF;
}

.messageItems {
  border-bottom: solid 3px #BBBDC1;
  padding: 10px;
}

.username {
  font-weight: bold;
}

.sentAt {
  float: right;
}

/* Send message input form styling */

.newMessageForm {
  bottom: 0px;
  display: flex;
  width: 100%;
}

.newMessage {
  flex-grow: 1;
  height: 30px;
  width: 100%
}

.messageBtn {
  height: 36px;
}

/* User Styling */

.loginUser {
  font-size: 1.25rem;
}

.loginBtn {
  margin-left: 5px;
}
